# Ignore build artifacts
*.o
*.s
*.exe

# Ignore VS Code settings
.vscode/


# Ignore editor backup/swap files
*.swp
*~
*.save

# Ignore build directory if used
/build/

# Ignore txt files created
*.txt

